<!DOCTYPE HTML>
<html>
<head>
    <title>HY's Note</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
        a:link { color:black; text-decoration: none;}
        a:visited { color: black; text-decoration: none;}
        a:hover { color: black; text-decoration: none;}
    </style>
</head>
<body>