{{>layout/header}}

<style>
        *{
            border-collapse: collapse;
            margin: 0%;
            padding: 0%;
            text-decoration: none;
            color: black;
            list-style: none;
        }
        .title{
            margin: 8%;
            text-align: center;
        }
        .table_div {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 15%;
        }
        .table th {
            font-size: 75%;
        }
        .write_btn{
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .write_btn a{
            font-size: 80%;
            font-style: italic;
        }
        .img{
            padding-left: 10%;
            padding-right: 10%;
        }
        .table > tbody > tr > td > a{
            color: black;
        }
        .table > tbody > tr > td:last-child{
            color:grey;
        }


     </style>

<h1 class="title">HEE YEOUNG'S NOTE </h1>
<img src="image/cafe_image.jpg" style="width: 100%; height: 300px;" class="img">
<div class="table_div">

    <br>
    <div class="write_btn" style="float:right">
        <div>
            <a href="/posts/save" role="button"
               class="btn btn_primary">WRITE</a>
        </div>
    </div>
    <!-- 목록 출력 영역 -->
    <table class="table">
        <thead class="thead">
        <tr>
            <th>NO</th>
            <th>TITLE</th>
            <th>WRITER</th>
            <th>DATE</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>


{{>layout/footer}}