{{>layout/header}}

<style>
        *{
            border-collapse: collapse;
            margin: 0%;
            padding: 0%;
            text-decoration: none;
            color: black;
            list-style: none;
        }
        .title{
            margin: 8%;
            text-align: center;
        }
        .table_div {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 15%;
        }
        .table th {
            font-size: 75%;
        }
        .write_btn{
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .write_btn a{
            font-size: 80%;
            font-style: italic;
        }
        .img{
            padding-left: 10%;
            padding-right: 10%;
        }
        .table > tbody > tr > td > a{
            color: black;
        }
        .table > tbody > tr > td:last-child{
            color:grey;
        }
         .login_info {

            text-align: right;
            position: relative;
            top: 50px;
            padding-right: 10%;
        }
        .user_info {

            text-align: right;
            position: relative;
            top: 50px;
            padding-right: 10%;
        }
        .user_info span{
            padding-left: 1%;
            padding-right:1%;

        }
        .user_info a {
            color: grey;
            text-decoration: none;
            padding-left: 1%;
        }
        .profile_img {
            width: 33px;
            height: 33px;
            border-radius: 70%;
            object-fit: cover;
        }


     </style>



    {{#userName}}
        <div class="user_info" >
            <img src={{userImage}} class="profile_img">
            <span> {{userName}} </span>
            <span> | </span>
            <a href="/logout"
               role = "button">Logout</a>
        </div>
    {{/userName}}
    {{^userName}}
    <div class="login_info" >
        <a href="/oauth2/authorization/google"
           class="btn btn success active" role="button">Google Login</a>
        <a href="/oauth2/authorization/naver"
           class="btn btn success active" role="button">Naver Login</a>
    </div>
    {{/userName}}

<h1 class="title">HEE YEOUNG'S BOARD </h1>


<img src="images/cafe_image.jpg" style="width: 100%; height: 300px;" class="img">

<div class="table_div">


{{#userName}}
    <div class="write_btn" style="float:right">
        <div>
            <a href="/posts/save" >WRITE</a>
        </div>
    </div>
{{/userName}}
    {{^userName}}
        <br><br><br>
    {{/userName}}
    <!-- 목록 출력 영역 -->
    <table class="table">
        <thead class="thead">
        <tr>
            <th>NO</th>
            <th>TITLE</th>
            <th>WRITER</th>
            <th>DATE</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <script>
            var i = {{len}};
        </script>
        {{#posts}}
            <tr>
                <td><script>
                    document.write((i--));
                </script></td>
                <td>
                {{#userName}}
                    <a href="/posts/{{id}}">{{title}}</a>
                {{/userName}}
                    {{^userName}}
                        <a onclick="alert('로그인 하세요');" style="cursor:pointer">{{title}}</a>
                    {{/userName}}
                </td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>


{{>layout/footer}}